.ins-container,
.jstree,
body .dg .c,
body .dg .cr.function,
body .dg .c select,
body .dg .property-name,
body .dg .title {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*
*	Matter.Gui
*/

body .dg.main {
    /*box-shadow: 0 0 8px rgba(0,0,0,0.7);*/
}

#previewUIwrapper.Clr-333{
    background:#333;
}

@media only screen and (max-width : 1350px) {
    body.gui-auto-hide .dg.ac {
        right: -233px;
    }

    body .dg.ac:hover,
    body.gui-show .dg.ac {
        right: 0px;
    }

    body.gui-auto-hide.gui-transitions .dg.ac {
        -webkit-transition: all 500ms cubic-bezier(0.965, 0.025, 0.735, 0.415);
        -moz-transition: all 500ms cubic-bezier(0.965, 0.025, 0.735, 0.415);
        -o-transition: all 500ms cubic-bezier(0.965, 0.025, 0.735, 0.415);
        transition: all 500ms cubic-bezier(0.965, 0.025, 0.735, 0.415);

        -webkit-transition-timing-function: cubic-bezier(0.965, 0.025, 0.735, 0.415);
        -moz-transition-timing-function: cubic-bezier(0.965, 0.025, 0.735, 0.415);
        -o-transition-timing-function: cubic-bezier(0.965, 0.025, 0.735, 0.415);
        transition-timing-function: cubic-bezier(0.965, 0.025, 0.735, 0.415);

        transition-delay: 3s;
        -webkit-transition-delay: 3s;
    }

    body.gui-transitions .dg.ac:hover,
    body.gui-show.gui-transitions .dg.ac {
        -webkit-transition: all 500ms cubic-bezier(0.095, 0.665, 0.400, 0.835);
        -moz-transition: all 500ms cubic-bezier(0.095, 0.665, 0.400, 0.835);
        -o-transition: all 500ms cubic-bezier(0.095, 0.665, 0.400, 0.835);
        transition: all 500ms cubic-bezier(0.095, 0.665, 0.400, 0.835);

        -webkit-transition-timing-function: cubic-bezier(0.095, 0.665, 0.400, 0.835);
        -moz-transition-timing-function: cubic-bezier(0.095, 0.665, 0.400, 0.835);
        -o-transition-timing-function: cubic-bezier(0.095, 0.665, 0.400, 0.835);
        transition-timing-function: cubic-bezier(0.095, 0.665, 0.400, 0.835);

        transition-delay: 0;
        -webkit-transition-delay: 0;
    }
}

body .dg.main.taller-than-window .close-button {
    border-top: 1px solid #444;
    border-right: 4px solid #444;
}

body .dg.main .close-button {
    background-color: #444;
}

body .dg.main .close-button:hover {
    background-color: #555;
}

body .dg.main::-webkit-scrollbar {
    background: #3d3d3d;
    width: 9px;
}

body .dg.main::-webkit-scrollbar-thumb {
    background: transparent;
    width: 5px;
    border-left: 5px solid #3d3d3d;
    border-right: 6px solid rgba(0,0,0,0.2);
    border-radius: 0;
}

body .dg {
    color: #aaa;
    text-shadow: none !important;
}

body .dg li:not(.folder) {
    background: #3d3d3d;
    border-bottom: 0px;
    padding: 0 0 0 12px;
}

body .dg li.save-row .button {
    text-shadow: none !important;
}

body .dg li.title {
    padding-left: 22px;
    border-bottom: 1px solid #555;
    background: #444 url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 10px 10px no-repeat;
}

body .dg .cr.boolean:hover {
    background: #3d3d3d;
}

body .dg .cr.function {
    border-top: 1px solid #444;
    background: #333;
    color: #aaa;
    border-bottom: 1px solid #333;
}

body .dg .cr.function:hover {
    background: #3a3a3a;
    border-bottom: 1px solid #2fa1d6;
}

body .dg .cr.function:active {
    border-top: 2px solid #444;
    border-bottom: 0;
    background: #2e2e2e;
}

body .dg .c select {
    margin-top: 2px;
    margin-left: -5px;
    padding: 3px 5px;
}

body .dg .c select,
body .dg .c input[type=text],
body .dg .cr.number input[type=text] {
    background: #333;
    color: #999;
    border: 0;
    font-size: 10px;
}

body .dg .c select,
body .dg .c select:focus {
    width: 88px;
    outline: 0;
}

body .dg .c input[type=text]:hover {
    background: #444;
}

body .dg .c input[type=text]:focus {
    background: #444;
    color: #fff;
}

body .dg .c .slider {
    background: #555;
}

body .dg .c .slider:hover {
    background: #666;
}

body .dg .c .slider-fg {
    background: #777;
}

body .dg .c .slider:hover .slider-fg {
    background: #999;
}

body .dg li.folder {
    border-left: 0;
}

body .dg.a {
    border-right:4px solid #3d3d3d;
}