    body {
        font-family: Monospace;
        background-color: #f0f0f0;
        margin: 0px;
        overflow: hidden;
    }

@font-face {
  font-family: Quicksand;
  src: url(../fonts/quicksand/Quicksand-Light.otf);
  font-weight:400;
}
/* Usage */
body {
  font-family: "Quicksand", Arial, Sans-serif;
}

#modeText {
    /*text-shadow: -1px 0px 15px rgba(200, 200, 200, 1);*/
    font-size:100px; 
    left:100px; 
    position:absolute; 
    z-index:99; 
    top:0px;
    color: #cccccc
}
.dg.ac {
    z-index: 100;
}
    #download2D{
        opacity:0.0; 
        left:0px; 
        top:0px; 
        color: #333333; 
        position: absolute;
        z-index:10;
        width:100%;
        height:100%;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;      
    }

    #download2D > i.fa{
        font-size:80px;
        width:100%;
        text-align: center;
        margin-top: 60px;
        color: #eeeeee;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        -o-transition: all 0.1s linear;
        transition: all 0.1s linear;     
    }

    #download2D:hover{
        opacity: 0.5;
        background: #888888;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;    
    }

    #download2D:hover > i.fa{
        margin-top: 75px;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        -o-transition: all 0.1s linear;
        transition: all 0.1s linear;      
    }

    #previewUI{
     -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
     border-radius: 4px;
/*     -webkit-box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.64);
     -moz-box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.64);
     box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.64);*/
     border: solid 1px #4a4a4a; 

     width:150px; 
     height:220px;

     display: block;
     visibility: hidden;
     position: relative; 
     z-index:50;
     top: 10px;
     margin: 0 auto 20px auto;
    }
    #imgContainer{
        display: none;
        right:300px;
        overflow:hidden; 
        z-index: 3; 
        border: solid 1px red; 
        position: absolute;  
        top:0px; 
        width:200px; 
        height:200px
    }
    #imgContainer > img {
       width:100%; height:100%; display:absolute; top:0px;
    }

    #imgContainer > a {
       z-index:30; font-size:10px;position:absolute; top:0px;
    }


#container{
    z-index: 1; left:0px; top:0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;

}

#container2D{
   overflow:hidden;  width:100%;; height:100%;
}
#datContainer{

    height:auto; top:0px;position:absolute; z-index:999; right:0px;
    opacity: 1;
}

#previewUIwrapper{
    height:240px;
    margin-left:4px; 
    background:#1a1a1a;
    border-left: 3px solid #FF8F19;
}

